body {
    background-color: #121214;
    color: #e1e1f6;
}

button {
    cursor: pointer;
    border: "none";
    border-radius: "4px";
    padding: "6px 12px";
    color: "#fff";
}

a {
    color: #fff;
}

.tweets-list {
    display: "flex";
    flex-direction: "column";
    gap: "1em";
    margin-bottom: "1em";
}

.active-link {
    border-bottom: 1px solid rebeccapurple;
    text-decoration: none;
}